@model WebApplication2.Models.Account

<head>
    <title>@{ViewBag.Title = "EmailConfirmationPage";}</title>
    <link rel="stylesheet" type="text/css" href="~/Content/EmailStyle.css">
</head>


<h2>Email Confirmation Sent</h2><hr />
<div class="email_form" align="center">
    @using (Html.BeginForm("Resend", "Account", FormMethod.Post))
    {
        <br />
        if (Convert.ToString(ViewData["Email"]) == "Sent")
        {
            @Html.Label("Please check email to confirm this account!")
        }
        else
        {
            @Html.Label("Error in sending please Email, Please enter Username and Password to Resend", new { @class = "warning" })
            <br /><br />
            @Html.Label("Username:")
            @Html.TextBoxFor(model => model.UserName, "Username")
            <br /><br />
            @Html.Label("Password:")
            @Html.PasswordFor(model => model.Password, "Password")
            <br />
            <input type="submit" value="Resend" class="btn-primary button">
        }
    }
</div>
<div align="center">
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <br /><br />
        <input type="submit" value="Return to Login" class="btn-primary button">
    }
</div>