@model WebApplication2.Models.Account

@{
    ViewBag.Title = "EmailVerificationPage";
}

<h2>EmailVerificationPage</h2>

@using (Html.BeginForm("Resend", "Account", FormMethod.Post))
{
    @Html.Label("Log In to Verify Email");
    <br />
    <br />
    @Html.Label("Username:");
    @Html.TextBoxFor(model => model.UserName, "Username");
    <br />
    <br />
    @Html.Label("Password:");
    @Html.PasswordFor(model => model.Password, "Password");
    <br />
    <br />
    <input type="submit" value="Sign In">
    <br />
    if (Convert.ToString(ViewData["Email"]) == "Verified")
    {
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Email Verifed");
    }
    else if (Convert.ToString(ViewData["Email"]) == "Fail")
    {
        System.Diagnostics.Debug.Print("In else statement");
        @Html.Label("Error in verifing please resend email");
        <br />
        <br />
        <input type="submit" value="Resend">
    }
    else
    {

    }
}

@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Go Back to Home Page">
}
