@model WebApplication2.Models.Account
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "ForgotPassword";}</title>
</head>
<body>
    <h2>Forgot Password</h2>

    <div>
        @using (Html.BeginForm("SendForgotEmail", "Account", FormMethod.Post))
        {
            <br />
            <br />
            @Html.Label("Input Username to send to:")
            <br />
            @Html.TextBoxFor(model => model.UserName, "UserName")
            <br />
            <br />
            if (Convert.ToString(ViewData["UserName"]) == "Fail")
            {
                @Html.Label("Wrong Username and Rank combination, Couldn't Find user in database")
                <br />
                <br />
            }
            if (Convert.ToString(ViewData["Rank"]) == "Fail")
            {
                @Html.Label("Wrong rank, please input one of the three acceptable inputs")
                <br />
                <br />
            }
            @Html.Label("Input your Role: Member, Leader,or Admin")
            <br />
            @Html.TextBoxFor(model => model.Rank, "Rank")

            <input type="submit" value="Change Password">
        }
    </div>
    <div>
        @using (Html.BeginForm("Index", "Account"))
        {
            <br />
            <br />
            <br />
            <input type="submit" value="Return to Home Page">
        }
    </div>
</body>
</html>



