@model WebApplication2.Models.Account
@{
    ViewBag.Title = "EmailChangePassword";
}

<h2>Changing Password</h2>

@using (Html.BeginForm("ChangedPassword", "Account", FormMethod.Post))
{
    if (Convert.ToString(ViewData["Password"]) == "Input" || Convert.ToString(ViewData["Password"]) == "Fail")
    {
        @Html.HiddenFor(model => model.UserName, "Username")
        <br />
        <br />
        if (Convert.ToString(ViewData["Password"]) == "Fail")
        {
            @Html.Label("Not a valid Password, ReEnter")
            <br />
            @Html.Label("Password must be longer than 6, conatin at least one: captial Letter, symbol and number")
            <br />
            <br />
        }
        @Html.Label("Input new Passwrod:")
        <br />
        @Html.PasswordFor(model => model.Password, "Password")
        <br />
        <input type="submit" value="Change Password">
        <br />
    }
    else
    {
        @Html.Label("Passwrod has been changed");
    }
}

@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Go Back to Home Page">
}
