@model WebApplication2.Models.Account
<head>
    <title>@{ViewBag.Title = "InputPassword"; }</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SignupStyle.css">
</head>

<h2>Change Password</h2><hr />
<div align="center">
    @using (Html.BeginForm("ChangedPassword", "Account", FormMethod.Post))
    {
        if (Convert.ToString(ViewData["Password"]) == "Input" || Convert.ToString(ViewData["Password"]) == "Fail")
        {
            @Html.HiddenFor(model => model.UserName, "Username")
            <br />
            if (Convert.ToString(ViewData["Password"]) == "Fail")
            {
                @Html.Label("Not a valid Password, Re-enter", new { @class = "warning" })<br />
                @Html.Label("Password must be longer than 6, conatin at least one: captial Letter, symbol and number", new { @class = "warning" })
                <br /><br />
            }
            <div class="outer">
                <div>
                    @Html.Label("Input new Password:", new {@class="signup_label"})
                </div>
                <div>
                    @Html.PasswordFor(model => model.Password, "Password")
                </div>
            </div>
            <br /><br />
            <input type="submit" value="Change Password" class="button btn-primary"><br />
        }
        else
        {
            @Html.Label("Password has been changed");
        }
    }
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
       <br /><br />
       <input type="submit" value="Return to Login" class="button btn-primary">
    }
</div>
