
@{
    ViewBag.Title = "Leader";
}

<h2>Team Leader Sign Up</h2>
@model  WebApplication2.Models.Leader

@using (Html.BeginForm("CreateLeader", "Account", FormMethod.Post))
{
    if (Convert.ToString(ViewData["UserName"]) != "Null")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Logged In as " + ViewData["UserName"]);

    }
    if (Convert.ToString(ViewData["isValid"]) == "NullFields")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Please have an input for all text fields");

    }
    <br />
    <br />
    @Html.Label("Username:");
    @Html.TextBoxFor(model => model.UserName, "UserName");
    <br />
    <br />
    @Html.Label("Password:");
    @Html.PasswordFor(model => model.Password, "Password");
    if (Convert.ToString(ViewData["isValid"]) == "Length")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Password needs to be at least 6 characters");

    }
    if (Convert.ToString(ViewData["isValid"]) == "Char")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Password must contain a lower case, upper case, digit and a symbol");
    }
    <br />
    <br />
    @Html.Label("First name:");
    @Html.TextBoxFor(model => model.FirstName, "FirstName");
    <br />
    <br />
    @Html.Label("Last name:");
    @Html.TextBoxFor(model => model.LastName, "LastName");
    <br />
    <br />
    @Html.Label("Address:");
    @Html.TextBoxFor(model => model.Address, "Address");
    <br />
    <br />
    @Html.Label("Birthdate:");
    @Html.TextBoxFor(model => model.Birthdate, "Birthdate");
    <br />
    <br />
    @Html.Label("Phone Number:");
    @Html.TextBoxFor(model => model.PhoneNumber, "PhoneNumber");
    <br />
    <br />
    @Html.Label("Gender:");
    @Html.TextBoxFor(model => model.Gender, "Gender");
    <br />
    <br />
    @Html.Label("Email:");
    @Html.TextBoxFor(model => model.Email, "Email");
    <br />
    <br />
    @Html.Label("Leader Code:");
    @Html.TextBoxFor(model => model.LeaderKey, "LeaderKey");
    <br />
    <br />
    <input type="submit" value="Create Leader">
    if (Convert.ToString(ViewData["isValid"]) == "LeaderKey")
    {
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Invalid Leader Key");
        <br />
        @Html.Label("Please try again");
    }

}
