
@{
    ViewBag.Title = "Leader";
}

<h2>Team Leader Sign Up</h2>
@model  WebApplication2.Models.Leader

@using (Html.BeginForm("CreateLeader", "Account", FormMethod.Post))
{
    if (Convert.ToString(ViewData["isValid"]) == "NullFields")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Please have an input for all text fields with *")

    }
    if (Convert.ToString(ViewData["isValid"]) == "Exist")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("UserName already Exists choose another one")

    }
    <br />
    <br />
    @Html.Label("Username:")
    @Html.TextBoxFor(model => model.UserName, "UserName")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Password:")
    @Html.PasswordFor(model => model.Password, "Password")
    @Html.Label("*")
    if (Convert.ToString(ViewData["isValid"]) == "Length")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Password needs to be at least 6 characters")

    }
    if (Convert.ToString(ViewData["isValid"]) == "Char")
    {
        <br />
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Password must contain a lower case, upper case, digit and a symbol")
    }
    <br />
    <br />
    @Html.Label("First name:")
    @Html.TextBoxFor(model => model.FirstName, "FirstName")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Middle name:")
    @Html.TextBoxFor(model => model.MiddleName, "MiddleName")
    <br />
    <br />
    @Html.Label("Last name:")
    @Html.TextBoxFor(model => model.LastName, "LastName")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Address:")
    @Html.TextBoxFor(model => model.Address, "Address")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Birthdate:")
    @Html.TextBoxFor(model => model.Birthdate, "Birthdate")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Phone Number:")
    @Html.TextBoxFor(model => model.PhoneNumber, "PhoneNumber")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("2nd Phone Number:")
    @Html.TextBoxFor(model => model.OptionalPhoneNumber, "PhoneNumber")
    <br />
    <br />
    @Html.Label("Gender:")
    @Html.TextBoxFor(model => model.Gender, "Gender")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Email:")
    @Html.TextBoxFor(model => model.Email, "Email")
    @Html.Label("*")
    <br />
    <br />
    @Html.Label("Leader Code:")
    @Html.TextBoxFor(model => model.LeaderKey, "LeaderKey")
    @Html.Label("*")
    <br />
    <br />
    <input type="submit" value="Create Leader">
    if (Convert.ToString(ViewData["isValid"]) == "LeaderKey")
    {
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Invalid Leader Key")
        <br />
        @Html.Label("Please try again")
    }

}
