
@{
    ViewBag.Title = "Leader";
}

<h2>Team Leader Sign Up</h2>
@model  WebApplication2.Models.Leader

@using (Html.BeginForm("CreateLeader", "Account", FormMethod.Post))
{
    <br />
    <br />
    @Html.Label("Username:");
    @Html.TextBoxFor(model => model.UserName, "UserName");
    <br />
    <br />
    @Html.Label("Password:");
    @Html.PasswordFor(model => model.Password, "Password");
    <br />
    <br />
    @Html.Label("First name:");
    @Html.TextBoxFor(model => model.FirstName, "FirstName");
    <br />
    <br />
    @Html.Label("Last name:");
    @Html.TextBoxFor(model => model.LastName, "LastName");
    <br />
    <br />
    @Html.Label("Address:");
    @Html.TextBoxFor(model => model.Address, "Address");
    <br />
    <br />
    @Html.Label("Birthdate:");
    @Html.TextBoxFor(model => model.Birthdate, "Birthdate");
    <br />
    <br />
    @Html.Label("Phone Number:");
    @Html.TextBoxFor(model => model.PhoneNumber, "PhoneNumber");
    <br />
    <br />
    @Html.Label("Gender:");
    @Html.TextBoxFor(model => model.Gender, "Gender");
    <br />
    <br />
    @Html.Label("Email:");
    @Html.TextBoxFor(model => model.Email, "Email");
    <br />
    <br />
    @Html.Label("Leader Code:");
    @Html.TextBoxFor(model => model.LeaderKey, "LeaderKey");
    <br />
    <br />
    <input type="submit" value="Create Leader">
    if (!Convert.ToBoolean(ViewData["LeaderKey"]))
    {
        System.Diagnostics.Debug.Print("In if statement");
        @Html.Label("Invalid Leader Key");
        <br />
        @Html.Label("Please try again");
    }

}
