@model WebApplication2.Models.Account

<head>
    <title>@{ViewBag.Title = "Result"; }</title>
    <link rel="stylesheet" type="text/css" href="~/Content/PMResultStyle.css">
    <script src="~/Scripts/ProjectManager.js"></script>
 
</head>

<h2>Results</h2><hr/>
@using (Html.BeginForm("Test", "ProcessModel", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.AccountId)
    @Html.Hidden(ViewData["result"].ToString(), ViewData["result"].ToString())
    string ImageURL;
    if (ViewData["result"].ToString() == "Waterfall") { ImageURL = "~/Content/Images/waterfall.jpg"; }
    else if(ViewData["result"].ToString() == "Iterative Waterfall") { ImageURL = "~/Content/Images/iterative_waterfall.jpg"; }
    else if (ViewData["result"].ToString() == "COTS") { ImageURL = "~/Content/Images/COTS.jpg"; }
    else { ImageURL = "~/Content/Images/RAD.jpg"; }
    <div align="center">
        <div>
            @Html.Label(ViewData["result"].ToString(), ViewData["result"].ToString(), new {@id="pmodel"})
        </div>
        <div>
            <img class="model_pic" src=@Url.Content(ImageURL) alt="some_text">
        </div>
        <br />
        <div align="center">
            <input type="submit" value="Keep Suggestion" class="button btn-primary">
        </div>
    </div>
}
<div>
    @{
        List<SelectListItem> dropDown = new List<SelectListItem>();
        dropDown.Add(new SelectListItem { Value = "Waterfall", Text = "Waterfall" });
        dropDown.Add(new SelectListItem { Value = "Iterative Waterfall", Text = "Iterative Waterfall" });
        dropDown.Add(new SelectListItem { Value = "RAD", Text = "RAD" });
        dropDown.Add(new SelectListItem { Value = "COTS", Text = "COTS" });
    }
</div>
<div align="right">
    @using (Html.BeginForm("Test", "ProcessModel"))
    {
        <br />
        @Html.HiddenFor(Model => Model.AccountId)
            <br />
            @Html.DropDownList("DropChoice", new SelectList(dropDown, "Value", "Text"))
            <input type="submit" value="Override Suggestion" class="button btn-primary">
    }
</div>