@model WebApplication2.Models.Account

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>
<br />
<br />

@Html.Label(ViewData["result"].ToString(), ViewData["result"].ToString())
@using (Html.BeginForm("Test", "ProcessModel", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.AccountId)
    @Html.Hidden(ViewData["result"].ToString(), ViewData["result"].ToString())
    <input type="submit" value="Keep Suggestion">
}
<div>
    @{
        List<SelectListItem> dropDown = new List<SelectListItem>();
        dropDown.Add(new SelectListItem { Value = "Waterfall", Text = "Waterfall" });
        dropDown.Add(new SelectListItem { Value = "Iterative Waterfall", Text = "Iterative Waterfall" });
        dropDown.Add(new SelectListItem { Value = "RAD", Text = "RAD" });
        dropDown.Add(new SelectListItem { Value = "COTS", Text = "COTS" });
    }
</div>
<div>
    @using (Html.BeginForm("Test", "ProcessModel"))
    {
        <br />
        @Html.HiddenFor(Model => Model.AccountId)
            <br />
            @Html.DropDownList("DropChoice", new SelectList(dropDown, "Value", "Text"))
            <input type="submit" value="Override Suggestion">
    }
</div>