@model dynamic
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "AddProjects";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>
    
    <h2>AddProjects</h2>

    <div>
        @Html.Label("Your Account Number is " + ViewData["AccountId"])
        @Html.Label("With a rank of " + ViewData["Rank"])
        <br />


        @foreach(ProjectTable proj in Model.ProjectTable)
        {
            @Html.Label("You can join these projects: ")
            @proj.ProjectId
            
            @Html.ActionLink(" Click to Add", "AddtoTable", new {id=proj.ProjectId} )

            <br />
        }
    </div>
</body>
</html>

