@model WebApplication2.Models.Project
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "ExistingProjects";}</title>
            @{Layout = "~/Views/Shared/_Layout.cshtml";}
    <link rel="stylesheet" type="text/css" href="~/Content/ProfileStyle.css">
    <script src="~/Scripts/ProjectManager.js"></script> 
</head>
<body>
                <br />
    @Html.Label("Logged in as " + Model.UserName)
                @Html.HiddenFor(Model => Model.UserName)<br />
    @Html.Label("Rank: " + Model.Rank)
                @Html.HiddenFor(Model => Model.Rank)
                @Html.HiddenFor(Model => Model.AccountId)<br />
    @using (Html.BeginForm("Index", "Account", FormMethod.Post))
    {
        <input type="submit" value="Logout" class="button btn-primary">
    }
                <hr />
    <div id="join_proj" align="center">
        @using (Html.BeginForm("AddProjects", "Project", FormMethod.Get))
        {
            if (Model.Rank != "Leader")
            {
                //<br />@Html.Label("If you want to join a new project:")<br />
                <input type="submit" value="Join Project" id="join_project" class="button btn-primary">
            }
                <h2>Existing Projects</h2><br />

            if (Model.ProjectId.Length == 0){@Html.Label("Not in any Projects")}
            else
            {
                int k = 0;
                for (k = 0; k < Model.ProjectId.Length; k++)
                {
                    
                    @Html.HiddenFor(Model => Model.ProjectId[k])
                    @Html.HiddenFor(Model => Model.ProjectProcess[k])
                }

                var col = Model.ProjectId.Zip(Model.ProjectProcess, (x, y) => new { X = x, Y = y }).Zip(Model.Responsibiltes, (x, z) => new { X = x, Z = z });
                foreach (var entity in col)
                {
                    if (entity.X.X != 0)
                    {
                        <div class="project">
                            <div class="project_header">
                                <h3> Project # @entity.X.X </h3>
                            </div>
                            @Html.Label("Rank: " + entity.Z, new { @class = "project_input" })<br />
                            @Html.Label("Process Model: " + entity.X.Y, new { @class = "project_input" })<br />
                            @Html.Label("View Project Schedule: ", new { @class = "project_input" })
                        </div>
                        <br /><br /><br />
                    }
            }
             }
        }
    </div>

        @using (Html.BeginForm("AddPeople", "Project", FormMethod.Get))
        {
            
            @Html.HiddenFor(Model => Model.UserName)
            @Html.HiddenFor(Model => Model.Rank)
            @Html.HiddenFor(Model => Model.AccountId)
            int k = 0;
            for (k = 0; k < Model.ProjectId.Length; k++)
            {
                @Html.HiddenFor(Model => Model.ProjectId[k])
                @Html.HiddenFor(Model => Model.ProjectProcess[k])
            }
            if (Model.Rank == "Leader")
            {
                <br />
                    @Html.Label("If you want to edit the people in your projects:")
                    <br />
                    <input type="submit" value="Edit Projects">
            }

        }
        @using (Html.BeginForm("EditPeople", "Project", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.UserName)
            @Html.HiddenFor(Model => Model.Rank)
            @Html.HiddenFor(Model => Model.AccountId)
            int k = 0;
            for (k = 0; k < Model.ProjectId.Length; k++)
            {
                @Html.HiddenFor(Model => Model.ProjectId[k])
                @Html.HiddenFor(Model => Model.ProjectProcess[k])
            }
            if (Model.Rank == "Admin")
            {
                <br />
                @Html.Label("If you want to edit peoples ranking:")
                <br />
                    <input type="submit" value="Edit People">
            }

        }
        @using (Html.BeginForm("LeaderExchange", "Project", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.UserName)
            @Html.HiddenFor(Model => Model.Rank)
            @Html.HiddenFor(Model => Model.AccountId)
            int k = 0;
            for (k = 0; k < Model.ProjectId.Length; k++)
            {
                @Html.HiddenFor(Model => Model.ProjectId[k])
                @Html.HiddenFor(Model => Model.ProjectProcess[k])
            }
            if (Model.Rank == "Admin")
            {
                <br />
                @Html.Label("If you want to change the leaders of projects:")
                <br />
                <input type="submit" value="Exchange Leaders">
            }

        }
        @using (Html.BeginForm("Questions", "ProcessModel", FormMethod.Get))
        {
            @Html.HiddenFor(Model => Model.UserName)
            @Html.HiddenFor(Model => Model.Rank)
            @Html.HiddenFor(Model => Model.AccountId)
            if (Model.Rank == "Leader")
            {
                <br />
                @Html.Label("If you want to create a new project:")
                <br />
                <input type="submit" value="Add New Project">
            }
        }
                  


        
   
</body>
</html>

