@model WebApplication2.Models.Project
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "ExistingProjects";}</title>
            @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>

    <h2>ExistingProjects</h2>
    <div>
        @using (Html.BeginForm("AddProjects", "Project", FormMethod.Get))
        {
                @Html.Label("Logged In as " + Model.UserName)
                @Html.HiddenFor(Model => Model.UserName)

                <br />
                @Html.Label("Your have the Rank: " + Model.Rank)
                @Html.HiddenFor(Model => Model.Rank)
                @Html.HiddenFor(Model => Model.AccountId)
                <br />

            if (Model.ProjectId[0] == 0)
            {
                    @Html.Label("Not in any Projects")
            }
            else
            {
                int k = 0;

                for (k = 0; k < Model.ProjectId.Length; k++)
                {
                            @Html.HiddenFor(Model => Model.ProjectId[k])
                            @Html.HiddenFor(Model => Model.ProjectProcess[k])
                }

                var col = Model.ProjectId.Zip(Model.ProjectProcess, (x, y) => new { X = x, Y = y });

                foreach (var entity in col)
                {
                    if (entity.X == 0)
                    {

                    }
                    else
                    {
                        @Html.Label("Your in Project number " + entity.X + ", which has the chosen process: " + entity.Y);
                        <br />
                    }
                }

            }
            if (Model.Rank  != "Leader")
            {
                    <br />
                    @Html.Label("If you want to join a new project")
                    <br />
                    <input type="submit" value="Join Project">
             }
           
        }
        @using (Html.BeginForm("AddPeople", "Project", FormMethod.Get))
        {
            
            @Html.HiddenFor(Model => Model.UserName)
            @Html.HiddenFor(Model => Model.Rank)
            @Html.HiddenFor(Model => Model.AccountId)
            int k = 0;
            for (k = 0; k < Model.ProjectId.Length; k++)
            {
                @Html.HiddenFor(Model => Model.ProjectId[k])
                @Html.HiddenFor(Model => Model.ProjectProcess[k])
            }
            if (Model.Rank == "Leader")
            {
                <br />
                    @Html.Label("If you want to edit the people in your projects")
                    <br />
                    <input type="submit" value="Edit Projects">
            }

        }
        @using (Html.BeginForm("Questions", "ProcessModel", FormMethod.Get))
        {
            if (Model.Rank == "Leader")
            {
                <br />
                @Html.Label("If you want to create a new project")
                <br />
                <input type="submit" value="Add New Project">
            }
        }
    </div>
</body>
</html>

