@model WebApplication2.Models.Project
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "ExistingProjects";}</title>
            @{Layout = "~/Views/Shared/_Layout.cshtml";}
</head>
<body>

    <h2>ExistingProjects</h2>
    <div>
        @Html.Label("You have Logged In as " + Model.UserName + ". Welcome!")
        <br />
        @Html.Label("Your have the Rank: " + Model.Rank)
        <br />

        @if (Model.ProjectId[0] == 0)
        {
            @Html.Label("Not in any Projects")
        }
        else
        {
            var col = Model.ProjectId.Zip(Model.ProjectProcess, (x, y) => new { X = x, Y = y });

            foreach (var entity in col)
            {
                @Html.Label("Your in Project number " + entity.X + "which have the chosen process: " + entity.Y);
                <br />
            }
        }

        @if (Model.Rank == "Leader" || Model.Rank == "Admin")
        {
            using (Html.BeginForm("AddProjects", "Project", FormMethod.Post))
            {
                <br />
                @Html.Label("If you want to add other people to Projects")
                <br />
                <input type="submit" value="Add New Project">
            }
        }
    </div>
</body>
</html>

