@model dynamic
<!DOCTYPE html>
<html>
<head>
    <title>@{ViewBag.Title = "FindLeaderInProject";}</title>
    @{Layout = "~/Views/Shared/_Layout.cshtml";}
    <link rel="stylesheet" type="text/css" href="~/Content/EditAndAddStyle.css">
    <script src="~/Scripts/ProjectManager.js"></script>
</head>
<body>
    <div align="center">
        <h2>Change Leaders</h2><hr />

        @if (Model.LeaderIn.Count != 0 && Model.LeadersNotIn.Count != 0)
        {
            foreach (leaderTableV2 leader in Model.LeaderIn)
            {
                @Html.Label("Replace leader: " + @leader.UserName)<br />
            }<br />
                @Html.Label("With any of these other leaders: ")
                <br /><br />
        }
        else
        {
            <br />@Html.Label("There are not enough leaders to make a switch");<br />
        }
        <table>
            @foreach (leaderTableV2 leader in Model.LeadersNotIn)
            {
                foreach (leaderTableV2 Releader in Model.LeaderIn)
                {
                    // @Html.ActionLink("Click to swtich project leaders", "LeaderSwitch", new { oldLid = Releader.Id, newLid = leader.Id, pId = Model.JunctionTableProjectAndAccount.PId, UId = Model.JunctionTableProjectAndAccount.AID }, new { onclick = "return confirm('Are you sure you want to swtich the leaders?');" })
                    using (Html.BeginForm("LeaderSwitch", "Project", new { oldLid = Releader.Id, newLid = leader.Id, pId = Model.JunctionTableProjectAndAccount.PId, UId = Model.JunctionTableProjectAndAccount.AID }))
                    {
                        <tr>
                            <td>@Html.Label("Leader: " + @leader.UserName)</td>
                            <td><input type="submit" value="Switch" class="btn-primary button" , onclick="return confirm('Are you sure you want to swtich the leaders?');" } /></td>
                        </tr>
                    }
                }
            }
        </table>

    </div>

</body>
</html>

